body {
  font-family: sans-serif;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  background-color: #f0f0f0;
  animation: bg-pan-left 8s linear infinite both;
}

.homepage {
  padding: 20px;
}

.homepage-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  animation: fadeInDown 1s;
}

.quiz-card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.quiz-card {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 1s;
  position: relative;
  overflow: hidden;
}

.quiz-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.quiz-card-title {
  font-size: 1.2em;
  color: #333;
  margin: 0;
  z-index: 1;
}

.quiz-icon {
  font-size: 3em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
  z-index: 0;
}

.quiz-card:hover .quiz-icon {
  transform: translate(-50%, -50%) scale(1);
}

.quiz-card:hover .quiz-card-title {
  opacity: 0;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
